html {
  font-size: 62.5%;
}

:root {
  /* ### Primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* #### Dark Theme */
  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

  /* #### Dark Theme */
  --BG: hsl(230, 17%, 14%);
  --Top-BG-Pattern: hsl(232, 19%, 15%);
  --Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --Text: hsl(0, 0%, 100%);
}

.light-mode {
  /* #### Light Theme */
  --BG: hsl(0, 0%, 100%);
  --Top-BG-Pattern: hsl(225, 100%, 98%);
  --Card-BG: hsl(227, 47%, 96%);
  --Desaturated-Blue-Text: hsl(228, 12%, 44%);
  --Text: hsl(230, 17%, 14%);

  /* #### Light Theme */
  --Toggle: hsl(230, 22%, 74%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--BG);
  color: var(--Text);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* Icons */
.icon > svg {
  width: 20px;
  height: 20px;
}
.facebook-icon > svg {
  background: var(--Facebook);
  color: var(--BG);
  padding: 2px;
  border: 2px;
}

/* Card */

.card-followers {
  width: 100%;
  /* max-width: 25.5rem; */
  /* min-width: 23rem; */
  background: var(--Card-BG);
  border: none;
  border-top: 2px solid var(--Facebook);
  border-radius: 2px;
  padding: 3rem 0 2.3rem;
  text-align: center;
}

@media (max-width: 767px) {
  .card-followers {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_header .icon {
  margin-right: 0.5rem;
}

.card_header > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Desaturated-Blue-Text);
  margin: 0;
}

.followers_numbers {
  font-size: 5.6rem;
  font-weight: bold;
  color: var(--Text);
  line-height: 48px;
  letter-spacing: -2px;
  margin: 2.8rem 0 0.9rem;
}

.followes-text {
  font-size: 1.2rem;
  letter-spacing: 5px;
  color: var(--Desaturated-Blue-Text);
  margin: 0;
}

.card_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.card_rate > img {
  margin-right: 2px;
}

.card_rate > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Lime-Green);
}

.grid {
  display: grid;
  gap: 3rem;
  justify-content: center;
}

@media (min-width: 550px) {
  .cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
