html {
  font-size: 62.5%;
}

:root {
  /* ### Primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  /* #### Dark Theme */
  --Toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* #### Dark Theme */
  --BG: hsl(230, 17%, 14%);
  --Top-BG-Pattern: hsl(232, 19%, 15%);
  --Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --Text: hsl(0, 0%, 100%);
}

.light {
  /* #### Light Theme */
  --BG: hsl(0, 0%, 100%);
  --Top-BG-Pattern: hsl(225, 100%, 98%);
  --Card-BG: hsl(227, 47%, 96%);
  --Desaturated-Blue-Text: hsl(228, 12%, 44%);
  --Text: hsl(230, 17%, 14%);

  /* #### Light Theme */
  --Toggle: hsl(230, 22%, 74%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--BG);
  color: var(--Text);
  margin: 0;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem;
}

/* Icons */
.icon > svg {
  width: 20px;
  height: 20px;
}
.facebook-icon > svg {
  background: var(--Facebook);
  color: var(--Card-BG);
  padding: 2px;
  border: 2px;
}

/* Card */

.card-followers {
  width: 100%;
  /* max-width: 25.5rem; */
  background: var(--Card-BG);
  border: none;
  border-top: 2px solid var(--Facebook);
  border-radius: 2px;
  padding: 3rem 0 2.3rem;
  text-align: center;
}

@media (max-width: 767px) {
  .card-followers {
    min-width: 23rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_header > img {
  margin-right: 0.5rem;
}

.card_header > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Desaturated-Blue-Text);
  margin: 0;
}

.followers_numbers {
  font-size: 5.6rem;
  font-weight: bold;
  color: var(--Text);
  line-height: 48px;
  letter-spacing: -2px;
  margin: 2.8rem 0 0.9rem;
}

.followes-text {
  font-size: 1.2rem;
  letter-spacing: 5px;
  color: var(--Desaturated-Blue-Text);
  margin: 0;
}

.card_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.card_rate > img {
  margin-right: 2px;
}

.card_rate > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Lime-Green);
}

.grid {
  display: grid;
  gap: 3rem;
  justify-content: center;
}

.grid-followers {
  position: relative;
  bottom: 45px;
}

.grid-likes {
  position: relative;
}

@media (min-width: 550px) {
  .cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-followers {
    bottom: 100px;
  }

  .grid-likes {
    bottom: 80px;
  }

  .likes-heading {
    /* bottom: 1px; */
  }
}

/* Card Likes */
.likes-heading {
  font-size: 2.4rem;
  color: var(--Text);
  padding: 0 0 3rem;
  margin: 0;
  position: relative;
}

.card-like {
  background: var(--Card-BG);
  width: 100%;
  padding: 2.4rem;
  border-radius: 5px;
}

.card_likes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}

.card_likes-header > p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--Desaturated-Blue-Text);
}

.card_likes-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_likes-number > h3 {
  margin: 0;
  font-size: 3.2rem;
  color: var(--Text);
}

.likes-rate {
  justify-content: start;
  margin: 0;
}

.likes-rate > p {
  margin: 0;
}

@media (max-width: 549px) {
  .card-like {
    min-width: 23rem;
  }

  .likes-heading {
    text-align: center;
  }
}

/* Toogle */

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--Desaturated-Blue-Text);
  margin-right: 0.7rem;
}

.toggler {
  width: 48px;
  height: 24px;
  background: var(--Toggle);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.5px;
  justify-content: start;
}

.toggler.light {
  justify-content: end;
}

.toggle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--BG);
}

/* NAVBAR */
nav {
  background-color: var(--Top-BG-Pattern);
  padding-bottom: 4rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-header {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--Card-BG);
}

.heading {
  color: var(--Text);
  font-size: 2.4rem;
  margin: 0.4rem 0;
}

.total-followers {
  font-weight: bold;
  color: var(--Desaturated-Blue-Text);
  font-size: 1.4rem;
  margin: 0;
}

@media (min-width: 768px) {
  .toggle-container {
    justify-content: unset;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2.5rem 15rem;
  }

  .nav-header {
    border: none;
  }
}
